.user-list{
    text-align: center;
    margin-top: 50px;
}
.user-list ul li{
    display: inline-block;
    width: 200px;
    border: 1px solid skyblue;
    padding: 20px;
}
.user-list ul {
    margin: 0;
}
.search-user{
    width: 450px;
    margin-left: 27px;
    margin-bottom: 20px;
    border-radius: 20px;
    height: 38px;
    padding-left: 30px;
    border: solid 1px skyblue;
    font-weight: 500;
}

.ulFocus:hover{
    color: rgb(1, 1, 168)
}