.input-div{
    display: flex;
    align-items: center;
    margin: 5px;   
    font-size: 30px;
    justify-content: space-between;
}

.input-update{
    margin: 5px;
    width: 346px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid blue;
    font-family: inherit;
    font-weight: bolder;
    font-size: x-large;
}

.label{
    margin-right: 50px;
}

.image-input{
    padding-bottom: 20px;
    margin-left: 60px;
    color : #38587c;
}


.file-input {
  display: inline-block;
  text-align: left;
  background: #fff;
  padding: 8px;
  margin: 8px;
  margin-bottom: 26px;
  width: 350px;
  position: relative;
  border-radius: 3px;
  border: 1px solid blue;
  border-radius: 10px;
}

.file-input > [type='file'] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10;
  cursor: pointer;
}

.file-input > .button {
  display: inline-block;
  cursor: pointer;
  background:  #9fccff;
  padding: 8px 16px;
  border-radius: 2px;
  margin-right: 8px;
}

.file-input:hover > .button {
  background: dodgerblue;
  color: white;
}

.file-input > .label {
  color: #333;
  white-space: nowrap;
  opacity: .3;
}

.file-input.-chosen > .label {
  opacity: 1;
}